<html xmlns:th="http://www.thymeleaf.org" th:fragment="header">
<!-- 네비게이션 바 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand" href="/">
            <img src="/static/img/logo/ktr_logo.webp" alt="로고" style="width: auto; height: 50px;">
        </a>
        <!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
        <!--    <span class="navbar-toggler-icon"></span>-->
        <!--  </button>-->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown1" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        개인기록
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="servicesDropdown1">
                        <li><a class="dropdown-item" href="#">서비스 1</a></li>
                        <li><a class="dropdown-item" href="#">서비스 2</a></li>
                        <li><a class="dropdown-item" href="#">서비스 3</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown2" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        시험물질관리
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="servicesDropdown2">
                        <li><a class="dropdown-item" href="#">서비스 1</a></li>
                        <li><a class="dropdown-item" href="#">서비스 2</a></li>
                        <li><a class="dropdown-item" href="#">서비스 3</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown3" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        시험관리
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="servicesDropdown3">
                        <li><a class="dropdown-item" href="#">서비스 1</a></li>
                        <li><a class="dropdown-item" href="#">서비스 2</a></li>
                        <li><a class="dropdown-item" href="#">서비스 3</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown4" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        동물/시설관리
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="servicesDropdown4">
                        <li><a class="dropdown-item" href="#">서비스 1</a></li>
                        <li><a class="dropdown-item" href="#">서비스 2</a></li>
                        <li><a class="dropdown-item" href="#">서비스 3</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown5" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        표준작업지침서
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="servicesDropdown5">
                        <li><a class="dropdown-item" href="#">서비스 1</a></li>
                        <li><a class="dropdown-item" href="#">서비스 2</a></li>
                        <li><a class="dropdown-item" href="#">서비스 3</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown6" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        운영관리
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="servicesDropdown6">
                        <li><a class="dropdown-item" href="#">서비스 1</a></li>
                        <li><a class="dropdown-item" href="#">서비스 2</a></li>
                        <li><a class="dropdown-item" href="#">서비스 3</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown7" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        QAU업무
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="servicesDropdown7">
                        <li><a class="dropdown-item" href="#">서비스 1</a></li>
                        <li><a class="dropdown-item" href="#">서비스 2</a></li>
                        <li><a class="dropdown-item" href="#">서비스 3</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown8" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        게시판
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="servicesDropdown8">
                        <li><a class="dropdown-item" href="#">서비스 1</a></li>
                        <li><a class="dropdown-item" href="#">서비스 2</a></li>
                        <li><a class="dropdown-item" href="#">서비스 3</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <a href="/login" class="btn btn-primary">로그인</a>
    </div>
</nav>
</html>