<html xmlns:th="http://www.thymeleaf.org" th:fragment="header" lang="ko">
<!-- 네비게이션 바 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container d-flex justify-content-evenly align-items-center">
        <a class="navbar-brand" href="/">
            <img th:src="@{/img/logo/ktr_logo.png}" alt="KTR_LOGO">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown1" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        개인기록
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="servicesDropdown1">
                        <li><a class="dropdown-item" href="#">개인 기록 확인</a></li>
                        <li><a class="dropdown-item" href="#">1. 일반 사항</a></li>
                        <li><a class="dropdown-item" href="#">2. 업무 분장</a></li>
                        <li><a class="dropdown-item" href="#">3. 경력 사항</a></li>
                        <li><a class="dropdown-item" href="#">4. 자격증 및 수료증</a></li>
                        <li><a class="dropdown-item" href="#">5. 외부 교육</a></li>
                        <li><a class="dropdown-item" href="#">6. 내부 교육</a></li>
                        <li><a class="dropdown-item" href="#">7. 지정서 업로드</a></li>
                        <li><a class="dropdown-item" href="#">8. 개인 지정서 리스트</a></li>
                        <li><a class="dropdown-item" href="#">9. 학술 단체 활동</a></li>
                        <li><a class="dropdown-item" href="#">10. 학술 발표/논문</a></li>
                        <li><a class="dropdown-item" href="#">11. 과제 참여 현황</a></li>
                        <li><a class="dropdown-item" href="#">12. 단체 교육 입력</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown2" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        시험물질관리
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="servicesDropdown2">
                        <li><a class="dropdown-item" href="#">TS 등록</a></li>
                        <li><a class="dropdown-item" href="#">TS 관리</a></li>
                        <li><a class="dropdown-item" href="#">TS 정보</a></li>
                        <li><a class="dropdown-item" href="#">PS 등록</a></li>
                        <li><a class="dropdown-item" href="#">PS 관리</a></li>
                        <li><a class="dropdown-item" href="#">PS 정보</a></li>
                        <li><a class="dropdown-item" href="#">MS 등록</a></li>
                        <li><a class="dropdown-item" href="#">MS 관리</a></li>
                        <li><a class="dropdown-item" href="#">MS 정보</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown3" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        시험관리
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="servicesDropdown3">
                        <li><a class="dropdown-item" href="#">시험 접수</a></li>
                        <li><a class="dropdown-item" href="#">시험 일정 입력</a></li>
                        <li><a class="dropdown-item" href="#">시험 일정 보기</a></li>
                        <li><a class="dropdown-item" href="#">동물/사육실 신청</a></li>
                        <li><a class="dropdown-item" href="#">일별 시험 업무</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown4" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        동물/시설관리
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="servicesDropdown4">
                        <li><a class="dropdown-item" href="#">사육실 배정</a></li>
                        <li><a class="dropdown-item" href="#">사육실 배정 현황</a></li>
                        <li><a class="dropdown-item" href="#">배정 현황 리스트</a></li>
                        <li><a class="dropdown-item" href="#">부검 일정</a></li>
                        <li><a class="dropdown-item" href="#">환경 측정 기록</a></li>
                        <li><a class="dropdown-item" href="#">사료 및 깔짚 성적서</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown5" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        표준작업지침서
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="servicesDropdown5">
                        <li><a class="dropdown-item" href="#">SOP 게시판</a></li>
                        <li><a class="dropdown-item" href="#">기록지 양식</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown6" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        운영관리
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="servicesDropdown6">
                        <li><a class="dropdown-item" href="#">분야별 개인 기록</a></li>
                        <li><a class="dropdown-item" href="#">개인별 개인 기록 (업무중)</a></li>
                        <li><a class="dropdown-item" href="#">개인별 개인 기록 (종료)</a></li>
                        <li><a class="dropdown-item" href="#">지정 현황(사용)</a></li>
                        <li><a class="dropdown-item" href="#">지정 현황 (종료)</a></li>
                        <li><a class="dropdown-item" href="#">시험 일정 총괄표</a></li>
                        <li><a class="dropdown-item" href="#">시험 접수 현황</a></li>
                        <li><a class="dropdown-item" href="#">시험 항목 추가/삭제</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown7" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        QAU업무
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="servicesDropdown7">
                        <li><a class="dropdown-item" href="#">QAU 배정</a></li>
                        <li><a class="dropdown-item" href="#">점검 업무</a></li>
                        <li><a class="dropdown-item" href="#">일별 점검 업무</a></li>
                        <li><a class="dropdown-item" href="#">개별 시험 일정</a></li>
                        <li><a class="dropdown-item" href="#">기록지 확인</a></li>
                        <li><a class="dropdown-item" href="#">기록지 만들기</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown8" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        게시판
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="servicesDropdown8">
                        <li><a class="dropdown-item" href="#">운영회의 협의사항</a></li>
                        <li><a class="dropdown-item" href="#">GLP 인증서</a></li>
                        <li><a class="dropdown-item" href="#">캘린더</a></li>
                        <li><a class="dropdown-item" href="#">시험 관리 프로그램</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <a href="/login" class="btn btn-primary">로그인</a>
    </div>
</nav>
</html>