<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      layout:fragment="content">

<div class="container">
    <!-- 본문 내용 -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="card">
            <div class="card-header">
                <h3>회원가입</h3>
            </div>
            <form method="post" action="#" th:action="@{/join}" th:object="${userDto}">
                <div class="card-body">
                    <div>
                        <label for="userId">UserId:</label>
                        <input type="text" id="userId" name="userId" required>
                    </div>
                    <div>
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <div>
                        <label for="userName">Username:</label>
                        <input type="text" id="userName" name="userName" required>
                    </div>
                    <div>
                        <label for="userEnName">UserEnName:</label>
                        <input type="text" id="userEnName" name="userEnName" required>
                    </div>
                    <div>
                        <label for="birthDate">BirthDate:</label>
                        <input type="date" id="birthDate" name="birthDate" required>
                    </div>
                    <div>
                        <label for="phoneNumber">PhoneNumber:</label>
                        <input type="text" id="phoneNumber" name="phoneNumber" required>
                    </div>
                    <div>
                        <label for="level">Level:</label>
                        <input type="text" id="level" name="level" required>
                    </div>
                    <div>
                        <label for="enteredDate">EnteredDate:</label>
                        <input type="date" id="enteredDate" name="enteredDate" required>
                    </div>
                    <div>
                        <label for="emailAddress">EmailAddress:</label>
                        <input type="text" id="emailAddress" name="emailAddress" required>
                    </div>
                    <div th:if="${error}" style="color: red;">
                        <p th:text="${error}"></p>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit">Register</button>
                </div>
            </form>
        </div>
    </main>
</div>

</html>