<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      layout:fragment="content">

<div class="container">
    <!-- 본문 내용 -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="card">
            <div class="card-header">
                <h3>로그인</h3>
            </div>
            <div class="card-body">
                <form method="post" action="#" th:action="@{/login}">
                    <div class="form-group">
                        <input type="text" class="form-control" id="userId" name="userId" placeholder="사원번호" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">로그인</button>
                    <div th:if="${error}" style="color: red;">
                        <p th:text="${error}"></p>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <a href="/join" class="btn btn-muted">회원가입</a>
            </div>
        </div>
    </main>
</div>

</html>